@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

:root{

  --corFundo: #5685d0;
  --corCarta: #ffffff;
  --corCombinacao: #8ab4f8;
  --corRaiseContadorContainer: #7ca2de;

}

body{
  height: 100svh;
  max-width: 1500px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--corFundo);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  margin: auto;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
}

#cartasComunitarias{
  display: flex;
  flex-direction: row;
  gap: .5em;
}

.jogador{
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: .5em;
  padding: .2em .5em;
  width: max-content;
  height: max-content;
}

.maoJogador{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: .5em;

}

.combinacao{
  background-color: var(--corCombinacao);
  padding: .5em 0;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .1);
  border: 4px solid #6ba0f6;
  color: #303030;
  font-weight: bolder;
  font-size: 1.1rem;
  height: 2.8em;
  display: flex;
  align-items: center;
  justify-content: center;
}

main.finalizado .jogador:not(.vencedor){
  filter: grayscale(90%);
  transition: .3s;
}

main.finalizado .jogador:not(.vencedor) .maoJogador{
  transform: scale(0.88);
  transition: .5s;
}

main.finalizado .vencedor .maoJogador{
  transform: scale(1.05);
  transition: .5s;
}

.desistiu{
  filter: grayscale(100%);
  background-color: rgba(128, 128, 128, 0.655);
  border-radius: 10px;
  transform: scale(0.88);
  transition: .3s;
}

#jogador0{
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

#jogador1{
  top: 0;
  left: 50%;
  transform: translate(-50%);
}

#jogador2{
  top: 50%;
  left: 2em;
  transform: translate(0, -50%);
}

#jogador3{
  top: 50%;
  right: 2em;
  transform: translate(0, -50%);
}

.carta{
  background-color: var(--corCarta);
  width: 1.7em;
  height: 2.4em;
  border: 8px solid rgb(232, 232, 232);
  border-radius: 8px;
  font-size: 3.6rem;
  color: black;
  
  -webkit-text-stroke: 1px white;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .1);
  transform-style: preserve-3d;
  position: relative;
  
}

.carta .frente, .carta .verso{
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.carta .frente{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  transform: rotateY(180deg);
}

.carta .verso{
  background-image: url('imgs/FundoCarta.png');
  background-color: white;
  /* color: transparent; */
  border: none;
  -webkit-text-stroke: 0;

}

.Espadas .frente{
  background-image: url("imgs/espada-pronto.png");
}

.Copas .frente{
  background-image: url("imgs/Copas-pronto.png");
}

.Ouros .frente{
  background-image: url("imgs/Ouros-pronto.png");
}

.Paus .frente{
  background-image: url("imgs/paus-pronto.png");
}

.mostrar{
  transform: rotateY(180deg);
  transition: 1s;
}

#telaAposta, #telaRaise{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100svw;
  height: 100svh;
  backdrop-filter: blur(3px);
  align-items: center;
  justify-content: center;
}


.mostrarTelaAposta, .mostrarTelaRaise{
  display: flex !important;
}


#botoesContainer{
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 2em;
 width: 100%;
 max-width: 600px;
 padding: 1em;
}

#botoesContainer button{
  font-size: 1.8rem;
  width: 5em;
  height: 2em;
  border-radius: 6px;
  background-color: #8ab4f8;
  color: white;
  border: 5px solid #769ede;
  font-weight: bold;
  cursor: pointer;
}

#botoesContainer button:hover{
  transform: scale(1.05);
  transition: .2s;
}

#raiseContadorContainer{
  background-color: var(--corRaiseContadorContainer);
  padding: 1.2em 2em;
  border-radius: 8px;
  border: solid 7px #5177b3;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .13);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  max-width: 98%;
}

#containerPrincipal{
  display: grid;
  grid-template-columns: 1fr 8em;
  gap: 1em;
}

#raiseContador{
  font-size: 3rem;
  background-color: #6092e0;
  border: 2px solid #4777c5;
  color: white;
  min-width: 3.5em;
  height: 2em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

#botoesRaiseContainer{
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: .5em;
}

#botoesRaiseContainer button{
  background-color: #6092e0;
  border: 2px solid #4777c5;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

#botoesRaiseContainer button:hover{
  transform: scale(1.05);
  transition: .3s;
}

#containerAuxiliar{
  display: flex;
  align-items: center;
  justify-content: center;
}

#botoesRaiseAuxiliar{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}

#botoesRaiseAuxiliar button{
  background-color: #699aeb;
  border: 2px solid #4f84d8;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
  padding: .5em;
  width: 4.2em;
  min-height: max-content;
}

#botoesRaiseAuxiliar button:hover{
  transform: scale(1.05);
  transition: .3s;
}

#finalizarRaiseButton{
  font-size: 1.8rem;
  padding: .2em .4em;
  background-color: #5481ca;
  border: 2px solid #2f5594;
  color: white;
  border-radius: 7px;
  cursor: pointer;
  margin-top: 0.5em;
}

#finalizarRaiseButton.disabled{
  filter: grayscale(52%);
  cursor: auto;
}

#finalizarRaiseButton:not(.disabled):hover{
  transform: scale(1.05);
  transition: .3s;
}

#dados{
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1em;
}

#pote, #apostaRodada{
  background-color: #3e71c2;
  color: white;
  width: 9em;
  display: grid;
  grid-template-rows: max-content 1fr;
  align-items: center;
  justify-items: center;
  height: 5em;
  flex-direction: column;
  padding: .5em;
  border-radius: 6px;
  border: 4px solid #3968b5;
  margin-right: .2em;
  margin-top: .2em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .18);
}

#pote h2, #apostaRodada h2{
  font-size: 1rem;
}

#dados .valor{
  font-size: 1.5rem;
}

.saldo{
  background-color: var(--corCombinacao);
  width: 95%;
  height: 1.9em;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #404040;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .1);
  border: 4px solid #6ba0f6;
  border-radius: 5px;
  padding: .2em .5em;
  width: max-content;
}


@media screen and (width < 1100px) {

  #mesa{
    width: 100%;
  }
  
  .jogador:not(#jogador0){
    top: 0;
    transform: translate(0, 0);
  }

  #jogador1{
    transform: translate(-50%) !important;
  }

  #dados{
    flex-direction: column;
    bottom: 0;
    top: inherit;
    margin: 0 .2em .2em 0;
  }

}

@media screen and (width < 740px) {
  
  .jogador:not(#jogador0) .carta{
    width: 1.8em;
    height: 2.5em;
    font-size: 1.5rem;
    border-width: 3px;
  }

  .jogador:not(#jogador0) .combinacao{
    font-size: 0.8rem;
  }

  #cartasComunitarias{
    flex-wrap: wrap;
    justify-content: center;
  }

  button{
    font-size: 1.4rem;
    height: 2em;
  }

  #jogador0{
    left: 8em;
    transform: inherit;
  }

}

@media screen and (width < 560px) {

  body{
    padding: 0.5em;
  }

  #cartasComunitarias .carta, #jogador0 .carta{
    font-size: 2.5rem;
    border-width: 4px;
  }

  .carta{
    -webkit-text-stroke-width: 1.2px;
  }

  #jogador2{
    left: 0;
  }

  #jogador3{
    right: 0;
  }

  #jogador0{
    left: 1em;
  }

  #dados{
    padding-bottom: .2em;
  }

  .saldo{
    font-size: .8rem;
  }
}



